In [3]:
import pandas as pd
import os

In [4]:
for i in [2016]:
    dust_1Q = pd.read_csv(f'Rawdata_dust/{i}년 1분기.csv', encoding='cp949')
    dust_2Q = pd.read_csv(f'Rawdata_dust/{i}년 2분기.csv', encoding='cp949')
    dust_3Q = pd.read_csv(f'Rawdata_dust/{i}년 3분기.csv', encoding='cp949')
    dust_4Q = pd.read_csv(f'Rawdata_dust/{i}년 4분기.csv', encoding='cp949')
    pass

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,강원 강릉시,632132,옥천동,2016010101,0.004,0.6,0.023,0.015,47.0,38.0,강원 강릉시 옥천동
1,강원 강릉시,632132,옥천동,2016010102,0.004,0.6,0.024,0.015,51.0,43.0,강원 강릉시 옥천동
2,강원 강릉시,632132,옥천동,2016010103,0.004,0.6,0.024,0.014,52.0,44.0,강원 강릉시 옥천동
3,강원 강릉시,632132,옥천동,2016010104,0.003,0.6,0.024,0.013,45.0,38.0,강원 강릉시 옥천동
4,강원 강릉시,632132,옥천동,2016010105,0.004,0.6,0.025,0.013,43.0,37.0,강원 강릉시 옥천동

In [5]:
dust =pd.concat([dust_1Q,dust_2Q,dust_3Q,dust_4Q], axis=0)
print(dust.head())
print(dust.tail())

       지역   측정소코드 측정소명        측정일시    SO2   CO     O3    NO2  PM10  PM25  \
0  강원 강릉시  632132  옥천동  2016010101  0.004  0.6  0.023  0.015  47.0  38.0
1  강원 강릉시  632132  옥천동  2016010102  0.004  0.6  0.024  0.015  51.0  43.0
2  강원 강릉시  632132  옥천동  2016010103  0.004  0.6  0.024  0.014  52.0  44.0
3  강원 강릉시  632132  옥천동  2016010104  0.003  0.6  0.024  0.013  45.0  38.0
4  강원 강릉시  632132  옥천동  2016010105  0.004  0.6  0.025  0.013  43.0  37.0

           주소
0  강원 강릉시 옥천동
1  강원 강릉시 옥천동
2  강원 강릉시 옥천동
3  강원 강릉시 옥천동
4  강원 강릉시 옥천동
            지역   측정소코드 측정소명        측정일시    SO2   CO     O3    NO2  PM10  PM25  \
711715  충북 충주시  633123  칠금동  2016123120  0.004  1.0  0.004  0.044  67.0  59.0
711716  충북 충주시  633123  칠금동  2016123121  0.004  0.9  0.004  0.040  57.0  49.0
711717  충북 충주시  633123  칠금동  2016123122  0.004  0.9  0.004  0.038  53.0  43.0
711718  충북 충주시  633123  칠금동  2016123123  0.003  0.9  0.004  0.034  55.0  46.0
711719  충북 충주시  633123  칠금동  2016123124  0.003  0.9  0.003  0.030  51.0  48.0

                주소
711715  충북 충주시 칠금동
711716  충북 충주시 칠금동
711717  충북 충주시 칠금동
711718  충북 충주시 칠금동
711719  충북 충주시 칠금동

In [6]:
dust.info()
dust['시도'] =dust['지역'].agg(lambda x:x[:2])
dust.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2818968 entries, 0 to 711719
Data columns (total 11 columns):
지역       object
측정소코드    int64
측정소명     object
측정일시     int64
SO2      float64
CO       float64
O3       float64
NO2      float64
PM10     float64
PM25     float64
주소       object
dtypes: float64(6), int64(2), object(3)
memory usage: 258.1+ MB

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시도
0,강원 강릉시,632132,옥천동,2016010101,0.004,0.6,0.023,0.015,47.0,38.0,강원 강릉시 옥천동,강원
1,강원 강릉시,632132,옥천동,2016010102,0.004,0.6,0.024,0.015,51.0,43.0,강원 강릉시 옥천동,강원
2,강원 강릉시,632132,옥천동,2016010103,0.004,0.6,0.024,0.014,52.0,44.0,강원 강릉시 옥천동,강원
3,강원 강릉시,632132,옥천동,2016010104,0.003,0.6,0.024,0.013,45.0,38.0,강원 강릉시 옥천동,강원
4,강원 강릉시,632132,옥천동,2016010105,0.004,0.6,0.025,0.013,43.0,37.0,강원 강릉시 옥천동,강원

In [7]:
def my_func(x):
    x = str(x)[3:5]
    return x
    pass

dust['시군구'] = dust['지역'].agg(my_func)
dust

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시도,시군구
0,강원 강릉시,632132,옥천동,2016010101,0.004,0.6,0.023,0.015,47.0,38.0,강원 강릉시 옥천동,강원,강릉
1,강원 강릉시,632132,옥천동,2016010102,0.004,0.6,0.024,0.015,51.0,43.0,강원 강릉시 옥천동,강원,강릉
2,강원 강릉시,632132,옥천동,2016010103,0.004,0.6,0.024,0.014,52.0,44.0,강원 강릉시 옥천동,강원,강릉
3,강원 강릉시,632132,옥천동,2016010104,0.003,0.6,0.024,0.013,45.0,38.0,강원 강릉시 옥천동,강원,강릉
4,강원 강릉시,632132,옥천동,2016010105,0.004,0.6,0.025,0.013,43.0,37.0,강원 강릉시 옥천동,강원,강릉
...,...,...,...,...,...,...,...,...,...,...,...,...,...
711715,충북 충주시,633123,칠금동,2016123120,0.004,1.0,0.004,0.044,67.0,59.0,충북 충주시 칠금동,충북,충주
711716,충북 충주시,633123,칠금동,2016123121,0.004,0.9,0.004,0.040,57.0,49.0,충북 충주시 칠금동,충북,충주
711717,충북 충주시,633123,칠금동,2016123122,0.004,0.9,0.004,0.038,53.0,43.0,충북 충주시 칠금동,충북,충주
711718,충북 충주시,633123,칠금동,2016123123,0.003,0.9,0.004,0.034,55.0,46.0,충북 충주시 칠금동,충북,충주
711719,충북 충주시,633123,칠금동,2016123124,0.003,0.9,0.003,0.030,51.0,48.0,충북 충주시 칠금동,충북,충주

In [9]:
dust_D=dust[dust['시도']== '대전']
dust_C=dust[dust['시군구'] == '청주']



print(dust_D)
print(dust_C)
dust_group = dust.groupby(['지역','측정일시'])[['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25']].mean()

            지역   측정소코드  측정소명        측정일시    SO2   CO     O3    NO2  PM10  \
336336  대전 대덕구  525111   읍내동  2016010101  0.007  1.7  0.001  0.038  98.0
336337  대전 대덕구  525111   읍내동  2016010102  0.004  1.5  0.001  0.033  81.0
336338  대전 대덕구  525111   읍내동  2016010103  0.005  1.5  0.001  0.032  78.0
336339  대전 대덕구  525111   읍내동  2016010104  0.004  1.5  0.001  0.028  75.0
336340  대전 대덕구  525111   읍내동  2016010105  0.004  1.3  0.001  0.025  63.0
...        ...     ...   ...         ...    ...  ...    ...    ...   ...
365059   대전 중구  525151  대흥동1  2016123120  0.004  0.7  0.001  0.046  44.0
365060   대전 중구  525151  대흥동1  2016123121  0.005  1.1  0.001  0.044  39.0
365061   대전 중구  525151  대흥동1  2016123122  0.005  1.1  0.001  0.039  43.0
365062   대전 중구  525151  대흥동1  2016123123  0.005  1.3  0.001  0.044  47.0
365063   대전 중구  525151  대흥동1  2016123124  0.004  1.2  0.001  0.039  42.0

        PM25          주소  시도 시군구
336336   NaN  대전 대덕구 읍내동  대전  대덕
336337   NaN  대전 대덕구 읍내동  대전  대덕
336338   NaN  대전 대덕구 읍내동  대전  대덕
336339   NaN  대전 대덕구 읍내동  대전  대덕
336340   NaN  대전 대덕구 읍내동  대전  대덕
...      ...         ...  ..  ..
365059   NaN   대전 중구 대흥동  대전  중구
365060   NaN   대전 중구 대흥동  대전  중구
365061   NaN   대전 중구 대흥동  대전  중구
365062   NaN   대전 중구 대흥동  대전  중구
365063   NaN   대전 중구 대흥동  대전  중구

[87840 rows x 13 columns]
            지역   측정소코드      측정소명        측정일시    SO2   CO     O3    NO2  PM10  \
681408  충북 청주시  533112  송정동(봉명동)  2016010101  0.004  1.2  0.001  0.052  95.0
681409  충북 청주시  533112  송정동(봉명동)  2016010102  0.003  1.1  0.001  0.046  94.0
681410  충북 청주시  533112  송정동(봉명동)  2016010103  0.003  1.1  0.001  0.042  88.0
681411  충북 청주시  533112  송정동(봉명동)  2016010104  0.003  1.1  0.000  0.038  89.0
681412  충북 청주시  533112  송정동(봉명동)  2016010105  0.003  1.0  0.001  0.031  90.0
...        ...     ...       ...         ...    ...  ...    ...    ...   ...
707299  충북 청주시  633211       오창읍  2016123120  0.004  0.8  0.006  0.036  52.0
707300  충북 청주시  633211       오창읍  2016123121  0.004  0.9  0.006  0.035  59.0
707301  충북 청주시  633211       오창읍  2016123122  0.004  1.0  0.006  0.037  62.0
707302  충북 청주시  633211       오창읍  2016123123  0.004  1.0  0.006  0.035  62.0
707303  충북 청주시  633211       오창읍  2016123124  0.004  1.1  0.006  0.035  65.0

        PM25                   주소  시도 시군구
681408  83.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681409  79.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681410  82.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681411  75.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681412  79.0  충북 청주시 흥덕구 직지대로 620  충북  청주
...      ...                  ...  ..  ..
707299  45.0    충북 청주시 청원구 오창읍 각리  충북  청주
707300  53.0    충북 청주시 청원구 오창읍 각리  충북  청주
707301  47.0    충북 청주시 청원구 오창읍 각리  충북  청주
707302  57.0    충북 청주시 청원구 오창읍 각리  충북  청주
707303  49.0    충북 청주시 청원구 오창읍 각리  충북  청주

[52704 rows x 13 columns]

In [11]:
dust_D_C= dust_D.append(dust_C)
dust_D_C= dust_D_C[['PM10','PM25','지역','측정일시','시도','시군구']]

def my_func2(a):
    a = str(a)[0:8]
    return a
    pass
dust_D_C['측정일시'] = dust_D_C['측정일시'].agg(my_func2)
dust_D_C

        PM10  PM25      지역      측정일시  시도 시군구
336336  98.0   NaN  대전 대덕구  20160101  대전  대덕
336337  81.0   NaN  대전 대덕구  20160101  대전  대덕
336338  78.0   NaN  대전 대덕구  20160101  대전  대덕
336339  75.0   NaN  대전 대덕구  20160101  대전  대덕
336340  63.0   NaN  대전 대덕구  20160101  대전  대덕
...      ...   ...     ...       ...  ..  ..
707299  52.0  45.0  충북 청주시  20161231  충북  청주
707300  59.0  53.0  충북 청주시  20161231  충북  청주
707301  62.0  47.0  충북 청주시  20161231  충북  청주
707302  62.0  57.0  충북 청주시  20161231  충북  청주
707303  65.0  49.0  충북 청주시  20161231  충북  청주

[140544 rows x 6 columns]

In [12]:
dust_D_C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140544 entries, 336336 to 707303
Data columns (total 6 columns):
PM10    137540 non-null float64
PM25    84628 non-null float64
지역      140544 non-null object
측정일시    140544 non-null object
시도      140544 non-null object
시군구     140544 non-null object
dtypes: float64(2), object(4)
memory usage: 7.5+ MB

In [13]:
dust_D_C = dust_D_C.groupby(['측정일시'])[['PM10','PM25','지역','시도','시군구']].mean()

In [22]:
dust_D_C.info()
dust_D_C.reset_index(level= None, inplace = True)
dust_D_C

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 4 columns):
index    366 non-null int64
측정일시     366 non-null object
PM10     366 non-null float64
PM25     366 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.6+ KB

     level_0  index      측정일시       PM10       PM25
0          0      0  20160101  60.835938  55.238095
1          1      1  20160102  51.671875  39.202381
2          2      2  20160103  70.259843  62.981818
3          3      3  20160104  84.140625  65.303571
4          4      4  20160105  33.494792  19.775758
..       ...    ...       ...        ...        ...
361      361    361  20161227  36.072917  22.738636
362      362    362  20161228  46.746702  26.910506
363      363    363  20161229  37.445026  19.694981
364      364    364  20161230  39.291667  23.583333
365      365    365  20161231  47.551181  36.305344

[366 rows x 5 columns]

In [1]:
Sejong = dust_D_C[['측정일시','PM25']]
Sejong['시도']='세종'
sejong = Sejong.loc[:120]
sejong = sejong[['측정일시','시도','PM25']]
sejong

NameError: name 'dust_D_C' is not defined

In [12]:
dust1 = dust[['시도','측정일시','CO','NO2','O3','PM10', 'PM25','SO2']]
dust1

        시도        측정일시   CO     NO2     O3  PM10  PM25     SO2
0       서울  2018010101  0.5  0.0200  0.020  34.0  19.0  0.0040
1       서울  2018010102  0.4  0.0160  0.024  27.0  14.0  0.0040
2       서울  2018010103  0.4  0.0220  0.018  26.0  14.0  0.0040
3       서울  2018010104  0.5  0.0300  0.010  26.0  15.0  0.0040
4       서울  2018010105  0.6  0.0290  0.011  28.0  16.0  0.0040
...     ..         ...  ...     ...    ...   ...   ...     ...
849873  인천  2018123120  0.4  0.0025  0.037  16.0   7.0  0.0011
849874  인천  2018123121  0.4  0.0024  0.037   6.0   NaN  0.0011
849875  인천  2018123122  0.4  0.0024  0.036  19.0   9.0  0.0011
849876  인천  2018123123  0.4  0.0026  0.035  15.0   8.0  0.0012
849877  인천  2018123124  0.4  0.0030  0.033  14.0  11.0  0.0014

[3271733 rows x 8 columns]

In [13]:
def sido_code_func(vec1):
    for i in sido_code:
        if vec1 == sido_code[i]:
            return i
            pass
        pass
    pass

sido_code = {
     '42' : '강원',
     '41' : '경기',
     '43' : '충북',
     '44' : '충남',
     '30' : '대전',
     '47' : '경북',
     '48' : '경남',
     '45' : '전북',
     '46' : '전남', 
     '11' : '서울', 
     '28' : '인천',
     '27' : '대구',
     '31' : '울산',
     '29' : '광주', 
     '26' : '부산', 
     '49' : '제주',
     '36' : '세종'
}

In [14]:
dust1['시도코드']=dust1['시도'].apply(sido_code_func)
dust1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        시도        측정일시   CO     NO2     O3  PM10  PM25     SO2 시도코드
0       서울  2018010101  0.5  0.0200  0.020  34.0  19.0  0.0040   11
1       서울  2018010102  0.4  0.0160  0.024  27.0  14.0  0.0040   11
2       서울  2018010103  0.4  0.0220  0.018  26.0  14.0  0.0040   11
3       서울  2018010104  0.5  0.0300  0.010  26.0  15.0  0.0040   11
4       서울  2018010105  0.6  0.0290  0.011  28.0  16.0  0.0040   11
...     ..         ...  ...     ...    ...   ...   ...     ...  ...
849873  인천  2018123120  0.4  0.0025  0.037  16.0   7.0  0.0011   28
849874  인천  2018123121  0.4  0.0024  0.037   6.0   NaN  0.0011   28
849875  인천  2018123122  0.4  0.0024  0.036  19.0   9.0  0.0011   28
849876  인천  2018123123  0.4  0.0026  0.035  15.0   8.0  0.0012   28
849877  인천  2018123124  0.4  0.0030  0.033  14.0  11.0  0.0014   28

[3271733 rows x 9 columns]

In [16]:
dust2 = dust1[['시도코드','측정일시','시도','PM10', 'PM25','SO2']]
dust2

       시도코드        측정일시  시도  PM10  PM25     SO2
0        11  2018010101  서울  34.0  19.0  0.0040
1        11  2018010102  서울  27.0  14.0  0.0040
2        11  2018010103  서울  26.0  14.0  0.0040
3        11  2018010104  서울  26.0  15.0  0.0040
4        11  2018010105  서울  28.0  16.0  0.0040
...     ...         ...  ..   ...   ...     ...
849873   28  2018123120  인천  16.0   7.0  0.0011
849874   28  2018123121  인천   6.0   NaN  0.0011
849875   28  2018123122  인천  19.0   9.0  0.0011
849876   28  2018123123  인천  15.0   8.0  0.0012
849877   28  2018123124  인천  14.0  11.0  0.0014

[3271733 rows x 6 columns]

In [24]:
dust_D = dust1[dust1['시도'] == '대전']
dust_C = dust1[dust1['시도'] == '청주']

print(dust_D)

        시도        측정일시   CO    NO2     O3  PM10  PM25    SO2 시도코드
545808  대전  2018010101  0.5  0.020  0.002  43.0  18.0  0.002   30
545809  대전  2018010102  0.7  0.019  0.002  38.0  13.0  0.001   30
545810  대전  2018010103  0.7  0.018  0.002  39.0  20.0  0.002   30
545811  대전  2018010104  0.7  0.016  0.004  35.0  23.0  0.004   30
545812  대전  2018010105  0.6  0.014  0.005  33.0  18.0  0.003   30
...     ..         ...  ...    ...    ...   ...   ...    ...  ...
631391  대전  2018123120  0.9  0.046  0.004  64.0  38.0  0.007   30
631392  대전  2018123121  0.9  0.039  0.005  52.0  36.0  0.005   30
631393  대전  2018123122  0.9  0.041  0.003  53.0  33.0  0.005   30
631394  대전  2018123123  1.0  0.043  0.002  63.0  35.0  0.005   30
631395  대전  2018123124  0.9  0.040  0.002  64.0  37.0  0.005   30

[89600 rows x 9 columns]
Empty DataFrame
Columns: [시도, 측정일시, CO, NO2, O3, PM10, PM25, SO2, 시도코드]
Index: []

In [25]:
print(dust_C)

Empty DataFrame
Columns: [시도, 측정일시, CO, NO2, O3, PM10, PM25, SO2, 시도코드]
Index: []